@import "./scss/boxLayout";

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', Poppins;
}

.error div{
  background-color: #fa5061;
}